<div class="jumbotron">
  <% if user_signed_in? %>
    <h1>Hey there, <%= current_user.name %>!</h1>
    <p>Let's check on your progress and see how you're doing.</p>
  <% else %>
    <h1>Welcome!</h1>
    <p>Save money for peace of mind. Make it a weekly thing.</p>
    <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-primary btn-lg btn-success' %>
  <% end %>
</div>
<div class="lead">
  <p>
    Stuff
  </p>
</div>